* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none ;
    text-transform: capitalize;
    transition: all .2s linear;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url('image/frame.png');
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

}

.header .logo{
    font-size: 1.5rem;
    font-weight:bolder;
    color:#6A4C9C ;
}
.header .logo i {
    color: pink;
    font-size: 2rem;
}

.header .navbar a{
    font-size: 1rem;
    margin: 0 1rem;
    color:#6A4C9C ;
}

.header .navbar a:hover{
    color: #4675C0;
}


/* nav {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-left {
    display: flex;
    align-items: center;
    
}

.logo {
    width: 150px;
    margin-right: 20px;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #6A4C9C;
    font-size: larger;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #4675C0; 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    display: flex;
    gap: 15px;
}

.nav-right a {
    text-decoration: none;
    color: #6A4C9C;
    font-size: 24px;
    transition: color 0.3s;
    transition: transform 0.3s ease-in-out;
}

.nav-right a:hover{
    color: #4675C0; 
    transform: scale(1.2);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.overlay {
    background: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 15px;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    color: #4675C0;
}

p {
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #6A4C9C;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #B89AD3;
    border: none;
    border-radius: 9px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover{
    background: #a977d5;
}

.special-offers{
    background: white;
} */